@import 'conf.less';

.wt-terminal {
  background: @terminalBgColor;
  font-family: Fixed, monospace;
  font-size: @fontSize;
  line-height: @lineHeight;
  color: @fontColor;
  .wt-cursor {
    background: white;
  }
}
